@model IEnumerable<DataAccess.Entities.Book>

@{
    ViewData["Title"] = "Index";
}

<h2 class="mt-4 mb-3">Index</h2>

<p>
    <a asp-action="Create" class="btn btn-success btn-sm">Create New</a>
</p>
<div class="mt-2 mb-3">
    <form class="d-flex" asp-action="Search" asp-controller="Book">
        <input class="form-control me-2" name="term" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-primary" type="submit">Search</button>
    </form>
</div>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author.FullName)
            </th>
            <th>Image</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BookId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author.FullName)
                </td>
                <td>
                    @{if (!String.IsNullOrEmpty(item.ImageUrl))
                        {
                            <img src="@item.ImageUrl" class="img-thumbnail" style="width:65px" />
                        }
                        else
                        {
                            <img src="~/images/No-Image.png" class="img-thumbnail" style="width:65px" />
                        };
                    }
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.BookId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.BookId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.BookId })
                </td>
            </tr>
        }
    </tbody>
</table>
