@model IEnumerable<DataAccess.Entities.Author>

@{
    ViewData["Title"] = "Index";
}

<h2 class="mt-4 mb-3">Index</h2>

<p>
    <a asp-action="Create"  class="btn btn-success btn-sm">Create New</a>
</p>
<div class="mt-2 mb-3">
    <form class="d-flex" asp-action="Search" asp-controller="Author">
        <input class="form-control me-2" name="term" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-primary" type="submit">Search</button>
    </form>
</div>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AuthorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AuthorId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.AuthorId }) |
                    @Html.ActionLink("Details", "Details", new { id=item.AuthorId }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.AuthorId })
                </td>
            </tr>
        }
    </tbody>
</table>
